
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.shop-parent{
    display: flex;
    gap: 150px;
    padding: 50px 100px 0 100px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    height: 100%;
    justify-content: center;
}
.shop-text{
    width: 550px;
}
.shop-text h1{
    font-size: 60px;
    font-weight: 900;
}
.shop-text p{
    padding: 20px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}
.shop-text button{
    text-decoration: none;
    color: #fff;
    background: #E55473;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.shop-img img{
    height: 500px;
}
/* first section code start */
section{
   
}
.featured-flower-container{
    margin: auto;
    width: 1000px;
}
.featured-flower-title{
    width: 550px;
    margin: auto;
    text-align: center;
}
.featured-flower-title h2{
    font-size: 40px;
}
.featured-flower-title p{
    font-size: 18px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}
.featured-flower-parent{
    display: flex;
    gap: 50px;
    text-align: center;
}
.featured-flower-items{
    width: 900px;
    height: 600px;
}
.featured-img1 img{
    width: 310px;
    height: 430px;
}
.featured-img1{
    background: rgba(167, 33, 98, 0.74);
    border-radius: 150px 150px 0 0;
    padding: 20px;
}
.featured-img2 img{
    width: 310px;
    height: 430px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-img3 img{
    width: 310px;
    height: 430px;
    background-color:  lightgrey 50%;
}
